/backup-build.gradle
/build
.DS_Store
/xqDoc/services
/xqDoc/root
/.gradle
/polymer/build
/newProject.xpr
/polymer/package-lock.json
/src/main/ml-modules/root/xqDoc2/index.html
/src/main/ml-modules/root/xqDoc2/node_modules
/src/main/ml-modules/root/xqDoc2/src
