/backup-build.gradle
/build
.DS_Store
/xqDoc/services
/xqDoc/root
/.gradle
/polymer/build
/newProject.xpr
/polymer/package-lock.json
/src/main/ml-modules/root/xqDoc2/index.html
/src/main/ml-modules/root/xqDoc2/node_modules
/src/main/ml-modules/root/xqDoc2/src
/polymer/xqDoc/services/node_modules
/polymer/xqDoc/xqrs/node_modules
/polymer/xqDoc/services/package-lock.json
/polymer/xqDoc/xqrs/package-lock.json
/src/main/polymer/xqDoc/services/node_modules
/src/main/polymer/xqDoc/services/build
/src/main/polymer/xqDoc/xqrs/node_modules
/src/main/polymer/xqDoc/xqrs/build
/src/main/polymer/xqDoc/xqrs/package-lock.json
/src/main/polymer/xqDoc/services/package-lock.json
